---
Language:        Cpp
BasedOnStyle:  LLVM
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
---
Language:        JavaScript
BasedOnStyle:  LLVM
...

