name: MacOS C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      fail-fast: false

    runs-on: macos-latest
    timeout-minutes: 20

    steps:
    - uses: actions/checkout@v3
    - name: Setup ENV
      run: |
        echo "CI=false" >> "$GITHUB_ENV"
    - name: Test STL (debug) - no allocators
      run: CFLAGS="-DFIO_MEMORY_DISABLE -DFIO_MEMALT" make db/tests
    - name: Test STL in debug mode
      run: make clean && make db/tests
    - name: Test STL
      run: make clean && make tests
    - name: Test Mustache Compliance
      run: make tests/mustache
    - name: Test fio_malloc speed
      run: |
        make clean
        make tests/malloc
        ./tmp/tests/malloc -t 4
